{
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "indent": 1,
    "space-before-function-paren": 0,
    "comma-dangle": [
      2,
      "never"
    ],
    "strict": 0,
    "prefer-const": ["error", {
      "destructuring": "any",
      "ignoreReadBeforeAssign": false
      }],
    "no-var": ["error"],
    "quotes": [
      2,
      "single"
    ]
  }
}
